body {
  margin: 0;
  padding: 0;
  background-image: url(/bg.jpg) ;
  background-repeat: no-repeat;
  height: 100vh;
  background-size:cover;
}





#title {
  text-align: center;
  margin-top: 13px 0px;
  color:darkgreen;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

#container {
    background-color: #ffffff56;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 2px 2px #cacaca;
}

.container_elements {
  width: 80%;
  margin: auto;
}

input {
  border: 1px solid gray;
  outline-color: rgba(255, 0, 0, 0.322);
  border-radius: 3px;
  font-size: 17px;
  margin-top: 17px;
  width: 46.5%;
  text-align: center;
  height: 36px;
}

#unitType {
  outline: none;
  font-size: 17px;
  width: 99%;
    margin: 14px 0px;
    height: 40px;
  padding: 7px;
  color: darkcyan;
  border: 1px solid darkcyan;
}

#inputType,
#resultType {
  outline: none;
  font-size: 17px;
  margin-top: 1px;
  height: 38px;
  width: 47.8%;
  padding: 5px;
  color: darkcyan;
  border: 1px solid darkcyan;
}

#resultType {
  margin-left: 13px;
}

@media  (max-width:650px) {
    #container{
        width: 400px;
        height: 280px;
    };

    #unitType{
        width: 78%;
        margin: 14px 40px;
    }

    input{
        width: 44.5%;
    }

    #inputType, #resultType{
        width: 46.6%;
    }
    
}

@media  (max-width:450px) {
    #container{
        width: 300px;
        height: 280px;
    };

    #unitType{
        width: 78%;
        margin: 14px 40px;
    }

    input{
        width: 43.5%;
    }

    #inputType, #resultType{
        width: 45.6%;
    }
}